return {
    plugins = {
        fzf = true,
        oil = true,
        lion = true,
        dispatch = true,
        fugitive = true,
        projectionist = true,
        rainbow = true,
        lspconfig = false,
        fidget = false,
        conform = false,
        dap = false,
        dadbob = false,
        dadbodui = false,
        mssql = false,
        mssqlpicker = false,
        conjure = {
            enabled = false,
            init = {
                conjure = function()
                    vim.g["conjure#filetypes"] = { "clojure" }
                end,
            },
        },
        fireplace = false,
        salve = false,
        dotnet = false,
        java = false,
    },
}
