return {
    plugins = {
        base = {
            gvars = {
                rainbow_active = 1,
                rainbow_conf = {
                    ctermfgs = {
                        "blue",
                        "green",
                        "red",
                        "cyan",
                    },
                },
            },
        },
        lsp = {
            enabled = false,
        },
        format = {
            enabled = false,
        },
        debug = {
            enabled = false,
        },
        database = {
            enabled = false,
        },
        repl = {
            enabled = false,
            gvars = {
                ["conjure#filetypes"] = { "clojure" },
            },
        },
        clojure = {
            enabled = false,
        },
        csharp = {
            enabled = false,
        },
        java = {
            enabled = false,
        },
        mssql = {
            enabled = false,
        },
    },
}
